<!--Basic example-->
<div ng-app ng-init='qty=1;cost=2'>
    <b>Invoice:</b>
    <div>
        Quantity:<input type="number" min='0' ng-model='qty'>
    </div>
    <div>
        Cost:<input type="number" min="0" ng-model='cost'>
    </div>
    <div>
        <b>Total:</b>{{ qty*cost|currency }}
    </div>
</div>
<!--Controller example-->
<div ng-app='invoice1' ng-controller='InvoiceController as invoice'>
    <b>Invoice:</b>
    <div>
        Quantity:<input type="number" min="0" ng-model='invoice.qty' required>
    </div>
    <div>
        Cost:<input type="number" min="0" ng-model='invoice.cost' required>
        <select ng-model='invoice.inCurr'>
            <option ng-repeat='c in invoice.currencies'>{{ c }}</option>
        </select>
    </div>
    <div>
        <b>Total:</b>
        <span ng-repeat='c in invoice.currencies'>
            {{ invoice.total(c)|currency:c }}
        </span>
        <button class="btn" ng-click='invoice.pay()'>Pay</button>
    </div>
</div>
<script>
    angular.module('invoice1',[])
    .controller('InvoiceController',function InvoiceController(){
        this.qty=1;
        this.cost=2;
        this.inCrr='EUR';
        this.currencies=['USD','EUR','CNY'];
        this.usdToForeignRates={
            USD:1,
            EUR:0.74,
            CNY:6.09
        };
        this.total=function total(outCurr){
            return this.convertCurrenct(this.qty*this.cost,this.inCurr,outCurr)
        }
        this.convertCurrenct=function convertCurrenct(amount,inCurr,outCurr){
            return amount*this.usdToForeignRates[outCurr]/this.usdToForeignRates[inCurr]
        }
        this.pay=function pay(){
            window.alert('Thanks!')
        }
    })
</script>
<!--Independent business logic-Services-->
<div ng-app='invoice2' ng-controller='InvoiceController as invoice'>
    <b>Invoice:</b>
    <div>
        Quantity:<input type="number" min='0' ng-model='invoice.qty' required>
    </div>
    <div>
        Cost:<input type="number" min="0" ng-model='invoice.cost' required>
        <select ng-model='c in invoice.currencies'>
            <option ng-repeat='c in invoice.currencies'>{{ c }}</option>
        </select>
    </div>
    <b>Total:</b>
    <span ng-repeat='c in invoice.currencies'>
        {{invoice.total(c) | currency:c}}
    </span><br>
    <button class="btn" ng-click='invoice.pay()'>Pay</button>
</div>
<script>
    angular.module('invoice2',['finance2'])
    .controller('InvoiceController',['currencyConverter',function InvoiceController(currencyConverter){
        this.qty=1;
        this.cost=2;
        this.inCurr='EUR';
        this.currencies=currencyConverter.currencies;

        this.total=function total(outCurr){
            return currencyConverter.convert(this.qty*this.cost,this.inCurr,outCurr);
        }
        this.pay=function pay(){
            window.alert('Thanks!')
        }
    }])
</script>
<script>
    angular.module('finance2',[])
    .factory('currencyConverter',function(){
        var currencies=['USD','EUR','CNY'];
        var usdToForeignRates={
            USD:1,
            EUR:0.74,
            CNY:6.09
        }
        var convert=function(amount,inCurr,outCurr){
            return amount*usdToForeignRates[outCurr]/usdToForeignRates[inCurr];
        }

        return {
            currencies:currencies,
            convert:convert
        };
    })
</script>
<!--************************************************************-->
<!--Accessing the backend-->
<!--Template-->
<div ng-app='invoice3' ng-controller='InvoiceController as invoice'>
    <b>Invoice:</b>
    <div>
        Quantity:<input type="number" min='0' ng-model='invoice.qty' required>
    </div>
    <div>
        Cost:<input type='number' min="0" ng-model='invoice.cost' required>
        <select ng-model='invoice.inCurr'>
            <option ng-repeat='c in invoice.currencies'>{{c}}</option>
        </select>
    </div>
    <div>
        <b>Total:</b>
        <span ng-repeat='c in invoice.currencies'>
            {{invoice.total(c)|currency:c}}
        </span><br>
        <button class="btn" ng-click='invoice.pay()'>Pay</button>
    </div>
</div>
<!--Controller-->
<script>
    angular.module('invoice3',['finance3'])
    .controller('InvoiceController',['currencyConverter',function InvoiceController(currencyConverter){
        this.qty=1;
        this.cost=2;
        this.inCurr='EUR';
        this.currencies=currencyConverter.currencies;

        this.total=function(outCurr){
            return currencyConverter.convert(this.qty*this.cost,this.inCrr,outCurr)
        }
        this.pay=function pay(){
            window.alert('Thanks!');
        }
    }])
</script>
<!--Services-->
<script>
    angular.module('finance3',[])
    .factory('currencyConverter',['$http',function($http){
        var currencies=['USD','EUR','CNY']
        var usdToForeignRates={};

        var convert=function(amount,inCurr,outCurr){
            return amount*usdToForeignRates[outCurr]/usdToForeignRates[inCurr];
        };

        var refresh=function(){
            var url=`https://api.exchangeratesapi.io/latest?base=USD&symbols=${currencies.join(',')}`;
            return $http.get(url).then(function(response){
                usdToForeignRates=response.data.rates;
                usdToForeignRates['USD']=1;
            });
        };

        refresh();

        return{
            currencies:currencies,
            convert:convert
        };
    }])
</script>
<!--************************************************************-->
<!--Initialize $scope-->
<!--Template-->
<div ng-controller='GreetingController'>
    {{greeting}}
</div>
<!--Controller-->
<script>
    var myApp=angular.module('MyApp',[])

    myApp.controller('GreetingController',['$scope',function($scope){
        $scope.greeting='Hola!'
    }])
</script>
<!--************************************************************-->
<!--Adding behavior to Scopr-->
<!--Template-->
<div ng-controller='DoubleController'>
    Two times<input ng-model='num'>equals{{double(num)}}
</div>
<!--Controller-->
<script>
    var myApp=angular.module('myApp',[])

    myApp.controller('DoubleController',['$scope',function($scope){
        $scope.double=function(value){return value*2;}
    }])
</script>
<!--************************************************************-->
<!--Spicy expamle-->
<!--Template-->
<div ng-controller='SpicyController'>
    <button ng-click='chiliSpicy()'>Chili</button>
    <button ng-click='jalapenoSpivt()'>Jalapeño</button>
    <p>The food is {{spice}} spicy!</p>
</div>
<!--Controller-->
<script>
    var myApp=angular.module('spicyApp1',[]);

    myApp.controller('SpicyController',['$scope',function($scope){
        $scope.spice='very';
        $scope.chiliSpicy=function(){
            $scope.spice='chili';
        }
        $scope.jalapenoSpicy=function(){
            $scope.spice='jalapeño';
        }
    }])
</script>
<!--************************************************************-->
<!--Spicy Arguments example-->
<!--Template-->
<div ng-controller='SpicyController'>
    <input ng-model='customSpice'>
    <button ng-click='spicy("chili")'>Chili</button>
    <button ng-click='spicy(customSpice)'>custom spice</button>
    <p>The food is {{spice}} spicy!</p>
</div>
<!--Controller-->
<script>
    var myApp=amgular.module('myApp2',[])
    myApp.controller('SpicyController',['$scope',function($scope){
        $scope.customSpice='wasabi';
        $scope.spice='very';

        $scope.spicy=function(spice){
            $scope.spice=spice;
        }
    }])
</script>
<!--************************************************************-->
<!--Scope Inheritance Example-->
<!--Template-->
<div class="spicy">
    <div ng-controller='MainController'>
        <p>Good {{timeOfDay}},{{name}}</p>
        <div ng-controller='ChildController'>
            <p>Good {{timeOfDay}},{{name}}</p>
            <div ng-controller='GrandChildController'>
                <p>Good {{timeOfDay}},{{name}}</p>
            </div>
        </div>
    </div>
</div>
<!--Controller-->
<script>
    var myApp=angular.module('scopeInheritance',[]);
    myApp.controller('MainController',['$scope',function($scope){
        $scope.timeOfDay='morning';
        $scope.name='Nikki';
    }])
    myApp.controller('ChildController',['$scope',function($scope){
        $scope.name='Mattie';
    }])
    myApp.controller('GrandChildController',['$scopr',function($scope){
        $scope.timeOfDay='evening';
        $scope.name='Gingerbread Baby';
    }])
</script>
<!--************************************************************-->
<!--Testing Controllers-->
<!--Controller-->
<script>
    var myApp=angular.moudle('myApp',[])
    myApp.controller('MyController',function($scope){
        $scope.spices=[
            {'name':'pasilla','spiciness':'mild'},
            {'name':'jalapeno','spiciness':'hot! hot! hot!'},
            {'name':'habanero','spiciness':'LAVA HOT!'},
        ]
        $scope.spice='habanero';
    })
</script>
<!--Controller test-->
<script>
    describe('myController function',function(){
        describe('myController',function(){
            var $scope;

            beforeEach(module('myApp'));

            beforeEach(inject(function($rootScope,$controller){
                $scope=$rootScope.$new();
                $controller('MyController',{$scope:$scope})
            }))

            it('should create "spices" model with 3 spices',function(){
                expect($scope.spices.length).toBe(3);
            })

            it('should set the default value of spice',function(){
                expect($scope.spice).toBe('habanero')
            })
        })
    })
</script>
<!--Nested controller testing-->
<script>
    describe('state',function(){
        var mainScope,childScope,grandChildScope;

        beforeEach(module('myApp'))

        beforeEach(inject(function($rootScope,$controller){
            mainScope=$rootScope.$new();
            $controller('MainController',{$scope:mainScope});
            childScope=mainScope.$new();
            $controller('ChildController',{$scope:childScope});
            grandChildScope=childScope.$new();
            $controller('grandChildController',{$scope:grandChildScope});
        }))

        it('should have over and selected',function(){
            expect(mainScope.timeOfDay).toBe('morning');
            expect(mainScope.name).toBe('Nikki');
            expect(childScope.timeOfDay).toBe('morning');
            expect(childScope.name).toBe('Mattie');
            expect(grandChildScope.timeOfDay).toBe('evening');
            expect(grandChildScope.name).toBe('Gingerbread Baby');
        })
    })
</script>