<!--The content below is only a placeholder and can be replaced.-->
<!--在app.component中建立子元件welcome-->
<app-welcome></app-welcome>
<br>
<app-properties-binding></app-properties-binding>
<br>
<app-event-binding></app-event-binding>
<br>
<app-two-way-binding></app-two-way-binding>
<br>
<app-two-way-binding2></app-two-way-binding2>
<br>
<app-class-binding></app-class-binding>
<br>
<app-style-binding></app-style-binding>
<br>
<app-parent></app-parent>
<br>
<app-pipe></app-pipe>
<br>
<app-form></app-form>
<br>
<app-dependency-injection></app-dependency-injection>
<br>
<app-http></app-http>
<br>
<app-crud></app-crud>
<router-outlet></router-outlet>
